"YNAB-Splitwise-App/config.yml"
"YNAB-Splitwise-App/ynab_access_token.yml"
"YNAB-Splitwise-App/splitwise_access_token.yml"
"YNAB-Splitwise-App/category_map.yml"
"YNAB-Splitwise-App/Gemfile.lock"
"YNAB-Splitwise-App/mapping.json"
"YNAB-Splitwise-App/redirect_server.rb"
"*.log"
