"YNAB-Splitwise-App/Version 2/config.yml"
"YNAB-Splitwise-App/Version 2/ynab_access_token.yml"
"YNAB-Splitwise-App/Version 2/splitwise_access_token.yml"
"YNAB-Splitwise-App/Version 2/category_map.yml"
"YNAB-Splitwise-App/Version 2/test.rb"
"YNAB-Splitwise-App/Version 2/Service Data/"
"YNAB-Splitwise-App/Version 1/"
